<div class="container-fluid pt-4">
  <form [formGroup]="editVehicleDocumentForm">
    <div class="card-group">
      <div class="card">

        <div class="card-header">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 d-flex ">
                <div class="tit_ver mr-auto align-self-center"> 2 OF 2 INFORMATION</div>
                <div class="nav_bt_move ">
                  <button type="button" class="btn btn-outline-info nav_bt_move_click" (change)="!isEditModeOn"
                    (click)="onEdit()">{{valueOfButton}}</button>
                  <button type="submit" class="btn btn-primary nav_bt_move_click nav_bt_move_click_activ"
                    *ngIf="isEditModeOn" (click)='onSubmit()'>Save</button>
                  <a (click)="backToPersonal(this.resource_id)"
                    class="btn btn-primary nav_bt_move_click nav_bt_move_click_activ" *ngIf="!isEditModeOn">Back</a>

                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="card-body">
          <h5 class="card-title">
            <div class="alert alert-secondary tit_ver bds" role="alert">
              DOCUMENT VERIFICATION
            </div>
          </h5>
          <div malihu-scrollbar class="light light-scroll">
            <div class="form-group row">
              <label for="lblOwnership" class="col-sm-5 col-form-label">Ownership</label>
              <div class="col-sm-6">
                <div class="align-self-center Ownership">
                  <div class="btn-group btn-group-toggle d-flex "  [attr.data-toggle]="isEditModeOn ? 'buttons':  null">
                    <label class="btn btn-secondary active justify-content-center">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> BA
                    </label>
                    <label class="btn btn-secondary justify-content-center">
                      <input type="radio" name="options" id="option2" autocomplete="off"> DCO
                    </label>
                  </div>
                </div>
                <!-- <fieldset>
                    <div class="switch-toggle switch-candy">
                      <input id="week" name="view" type="radio" checked>
                      <label for="week" onclick="">BA</label>
                      <input id="month" name="view" type="radio">
                      <label for="month" onclick="">DRIVER</label>
                      <a></a>
                    </div>
                  </fieldset> -->
              </div>
            </div>
            <div class="form-group row">
              <label for="lblbusiness_associate_id" class="col-sm-5 col-form-label">Business Associate Name</label>
              <div class="col-sm-6">
                <!-- <input type="text" class="form-control" formControlName="business_associate_id"
                  id="business_associate_id" placeholder="Business Associate Name"
                  [attr.disabled]="isEditModeOn ? null : '' "> -->
                <select name="account" formControlName="business_associate_id" id="permit_type"
                  class="form-control dropdown dropdown_custom indrop" [attr.disabled]="isEditModeOn ? null : '' ">
                  <option *ngFor="let ba of baList; let i = index" value="{{ba.id}}">{{ba.legal_name}}</option>


                </select>
                <div *ngIf="submitted && f.business_associate_id.errors">
                  <div *ngIf="f.business_associate_id.errors.required" class="error_class">Business Associate Name is
                    required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblbusiness_area_id" class="col-sm-5 col-form-label">Business Area *</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="business_area_id" id="business_area_id"
                  placeholder="Business Area *" [attr.disabled]="isEditModeOn ? null : '' ">
                <div *ngIf="submitted && f.business_area_id.errors">
                  <div *ngIf="f.business_area_id.errors.required" class="error_class">Business Area is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblroad_tax_validity_date" class="col-sm-5 col-form-label">Road Tax validity Date *</label>
              <div class="col-sm-6 mb-0">
                <!-- <input type="text" class="form-control" formControlName="road_tax_validity_date" id="road_tax_validity_date" placeholder="Business Area *" [attr.disabled]="isEditModeOn ? null : '' "> -->
                <div class="form-group form-group-custom">
                  <div class="input-group input-group-custom">
                    <input type="text" readonly class="form-control date_form_control" formControlName="road_tax_validity_date"
                      id="road_tax_validity_date" placeholder="Road Tax validity Date *" name="dp" ngbDatepicker
                      autocomplete="off" [placement]="'bottom-left'"
                      [disabled]="isEditModeOn?false:true"
                      #RoadTaxvalidityDate="ngbDatepicker" [(ngModel)]="road_tax_validity_date_model"
                      value="{{getFormattedDate(road_tax_validity_date_model)|date: serverDateFormat}}"
                      >
                
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="RoadTaxvalidityDate.toggle()"
                      [attr.disabled]="isEditModeOn ? null : '' " type="button"></button>
                    </div>
                  </div>
                </div>
                <div *ngIf="submitted && f.road_tax_validity_date.errors">
                  <div *ngIf="f.road_tax_validity_date.errors.required" class="error_class">Road Tax validity Date is
                    required</div>
                </div>
              </div>
            </div>
            <!-- <div class="form-group row">
              <label for="lbllast_service_date" class="col-sm-5 col-form-label">Last Service Date</label>
              <div class="col-sm-6">
                <div class="form-group form-group-custom">
                  <div class="input-group input-group-custom">
                    <input type="text" readonly class="form-control date_form_control" formControlName="last_service_date"
                      id="last_service_date" placeholder="Last Service Date *" name="dp" ngbDatepicker
                      [disabled]="isEditModeOn?false:true"
                      autocomplete="off" [placement]="'bottom-left'"
                      #RoadTaxvalidityDate="ngbDatepicker" [(ngModel)]="last_service_date_model"
                      value="{{getFormattedDate(last_service_date_model)|date: serverDateFormat}}"
                      >
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="RoadTaxvalidityDate.toggle()"
                      [attr.disabled]="isEditModeOn ? null : '' "  type="button"></button>
                    </div>
                  </div>
                </div>
                <div *ngIf="submitted && f.last_service_date.errors">
                  <div *ngIf="f.last_service_date.errors.required" class="error_class">Last Service Date is required
                  </div>
                </div>
              </div>
            </div> -->
            <div class="form-group row">
              <label for="lbllast_service_km" class="col-sm-5 col-form-label">Last Service KM</label>
              <div class="col-sm-6">
                <input type="number" class="form-control" formControlName="last_service_km" id="last_service_km"
                  placeholder="Last Service KM" [attr.disabled]="isEditModeOn ? null : '' ">
                <div *ngIf="submitted && f.last_service_km.errors">
                  <div *ngIf="f.last_service_km.errors.required" class="error_class">Last Service KM is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblkm_at_induction" class="col-sm-5 col-form-label">KM at the time of Induction</label>
              <div class="col-sm-6">
                <input type="number" class="form-control" formControlName="km_at_induction" id="km_at_induction"
                  placeholder="KM at the time of Induction" [attr.disabled]="isEditModeOn ? null : '' ">
                <div *ngIf="submitted && f.km_at_induction.errors">
                  <div *ngIf="f.km_at_induction.errors.required" class="error_class">KM at the time of Induction is
                    required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblpermit_type" class="col-sm-5 col-form-label">Permit Type</label>
              <div class="col-sm-6">
                <!-- <input type="text" class="form-control" formControlName="permit_type" id="permit_type" placeholder="KM at the time of Induction" [attr.disabled]="isEditModeOn ? null : '' "> -->
                <select name="account" formControlName="permit_type" id="permit_type"
                  class="form-control dropdown dropdown_custom indrop" [attr.disabled]="isEditModeOn ? null : '' ">
                  <option value='state'>State </option>
                  <option value='national'>National </option>

                </select>
                <div *ngIf="submitted && f.permit_type.errors">
                  <div *ngIf="f.permit_type.errors.required" class="error_class">Permit Type</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblregistration_date" class="col-sm-5 col-form-label">Date of Registration</label>
              <div class="col-sm-6 mb-0">

                <div class="form-group form-group-custom">
                  <div class="input-group input-group-custom">
                    <input type="text" readonly class="form-control date_form_control" formControlName="registration_date"
                      id="registration_date" placeholder="Date of Induction *" #registration_date="ngbDatepicker"
                      [disabled]="isEditModeOn?false:true"
                      autocomplete="off" [placement]="'bottom-left'"
                      ngbDatepicker [(ngModel)]="registration_date_model"
                      value="{{getFormattedDate(registration_date_model)|date: serverDateFormat}}"
                      >

                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="registration_date.toggle()"
                      [attr.disabled]="isEditModeOn ? null : '' "  type="button"></button>
                    </div>
                  </div>
                </div>
                <div *ngIf="submitted && f.registration_date.errors">
                  <div *ngIf="f.registration_date.errors.required" class="error_class">Date of Registration is required
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="form-group row">
              <label for="lblstatus" class="col-sm-5 col-form-label">Active</label>
              <div class="col-sm-6">
                <select name="account" formControlName="status" id="status"
                  class="form-control dropdown dropdown_custom indrop" [attr.disabled]="isEditModeOn ? null : '' ">
                  <option value="YES">YES </option>
                  <option value="NO">NO </option>


                </select>
                <div *ngIf="submitted && f.status.errors">
                  <div *ngIf="f.status.errors.required" class="error_class">Active is required</div>
                </div>
              </div>
            </div> -->
            <div class="form-group row">
              <label for="lbldevice_id" class="col-sm-5 col-form-label">GPS Device ID *</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="device_id" id="device_id"
                  placeholder="GPS Device ID *" [attr.disabled]="isEditModeOn ? null : '' ">
                <div *ngIf="submitted && f.device_id.errors">
                  <div *ngIf="f.device_id.errors.required" class="error_class">GPS Device ID is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblgps_provider_id" class="col-sm-5 col-form-label">GPS Maker *</label>
              <div class="col-sm-6">
                <!-- <input type="text" class="form-control" formControlName="gps_provider_id" id="gps_provider_id"
                  placeholder="GPS Provider *" [attr.disabled]="isEditModeOn ? null : '' "> -->
                  <select name="gps_provider_id" class="form-control dropdown dropdown_custom indrop"
                  formControlName="gps_provider_id" id="gps_provider_id" [attr.disabled]="isEditModeOn ? null : '' ">
                  <option value="1">MMI</option>
                  <option value="2">Fleet Radar</option>
                  <option value="3">Rooster</option>
                  <option value="4">Generic</option>' ''
                  <option value="5">AOT/Fleet Vigil</option>
                  <option value="6">Wheelseye</option>
                  <option value="6">T4U</option>
                  <option value="6">Axestrack</option>
                  <option value="6">Ekfon</option>

                </select>
                <div *ngIf="submitted && f.gps_provider_id.errors">
                  <div *ngIf="f.gps_provider_id.errors.required" class="error_class">GPS Maker is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="vehicle_type" class="col-sm-5 col-form-label">Dedicated vehicle</label>
              <div class="col-sm-6">
                <!-- <input type="text" class="form-control" formControlName="txtMobileIMEI" id="txtMobileIMEI" placeholder="Mobile IMEI Number" [attr.disabled]="isEditModeOn ? null : '' "> -->
                <select name="vehicle_type"  id="vehicle_type"
                  class="form-control dropdown dropdown_custom indrop" [attr.disabled]="isEditModeOn ? null : '' ">
                  <option>YES </option>
                  <option>NO </option>
                  <option>Buffer vehicle</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblsite_id" class="col-sm-5 col-form-label">Dedicated Site Name *</label>
              <!-- <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="site_id" id="site_id"
                  placeholder="Dedicated Site Name *" [attr.disabled]="isEditModeOn ? null : '' ">
                <div *ngIf="submitted && f.site_id.errors">
                  <div *ngIf="f.site_id.errors.required" class="error_class">Dedicated Site Name is required</div>
                </div>
              </div> -->
              <div class="col-sm-6">
                <select name="account" formControlName="site_id" id="site_id"
                  class="form-control dropdown dropdown_custom indrop" [attr.disabled]="isEditModeOn ? null : '' ">
                  <option *ngFor="let ba of siteList; let i = index" value="{{ba.id}}">{{ba.name}}</option>


                </select>
                <div *ngIf="submitted && f.site_id.errors">
                  <div *ngIf="f.site_id.errors.required" class="error_class">Dedicated Site Name is
                    required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblsexual_policy" class="col-sm-5 col-form-label">Shift Start Time* </label>
              <div class="col-sm-6">
                  <ngb-timepicker [(ngModel)]="shift_start_time" formControlName="shift_start_time" [disabled]="true"   ></ngb-timepicker>
                <div *ngIf="submitted && f.shift_start_time.errors">
                  <div *ngIf="f.shift_start_time.errors.required" class="error_class">Shift start time is
                    required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="lblsexual_policy" class="col-sm-5 col-form-label">Shift End Time*</label>
                <div class="col-sm-6">
                    <ngb-timepicker [(ngModel)]="shift_end_time"  formControlName="shift_end_time" readonly-input="true"  ></ngb-timepicker>
                    <div *ngIf="submitted && f.shift_end_time.errors">
                      <div *ngIf="f.shift_end_time.errors.required" class="error_class">Shift end time is
                        required</div>
                      </div>
                  </div>
                </div>  
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="col-md-12 d-flex justify-content-between align-items-center">
            <div class="tit_ver"> Preview Document</div>

            <div class="pdf_nav" style="display: inherit">
              <button class="prevpdf" (click)="onPreviousButtonClick($event)">
                < </button> <ul>
                  <li class="com_pdf" *ngFor="let item of pdfs; let index = index"
                    [class.activepdf]="index == selectedPage" (click)="pageNumberButtonClicked(index)">
                    {{index+1}}
                  </li>
                  </ul><button class="nextpdf" (click)="onNextButtonClick($event)"> > </button>
            </div>
          </div>
        </div>
        <div class="card-body position-relative" style="height:490px;overflow: auto;"  *ngIf="pdfs.length > 0">
          <p class="tit_verDocName">{{pdfs[selectedPage].doc_display_name}}</p>
          <div class="pdf_zoom">
            <button ion-button (click)="incrementZoom(-0.1)">
              -
            </button>
            <button ion-button (click)="incrementZoom(0.1)">
              +
            </button>
          </div>
          <ul class="p-0 pdf_box">
            <li class="pdf_li activepdf" *ngIf="pdfs.length > 0">
              <span class="togglepdf"
               [ngClass]="{
                            'nonstatus':pdfs[selectedPage].status === 'none',
                            'approved':pdfs[selectedPage].status === 'Approved',
                            'rejected':pdfs[selectedPage].status === 'Rejected'
                            }"></span>
                <pdf-viewer src="https://{{pdfs.length > 0 ? pdfs[selectedPage].doc_url : null}} " [original-size]="false" class="pdf_view"
                  [zoom]="zoom" [show-all]="true"
                  [ngClass]="{'d-none': !check_if_doc_is_pdf()}"  
                  >
                </pdf-viewer>
                <img src="https://{{pdfs.length > 0 ? pdfs[selectedPage].doc_url : null}} "  
                [ngClass]="{'d-none': check_if_doc_is_pdf()}"
                class="pdf_view" style="width: 100%;">
              <!-- <embed src="./assets/images/myfile.pdf" style="width: 100%;height:400px;" /> -->
            </li>
          </ul>
        </div>
        <div class="card-footer bg_white">
          
            <div class="row">
              <div class="col-md-12 d-flex justify-content-between align-items-center">
                <ul class="pdf_box">
                  <li class="tit_ver pdf_li activepdf" *ngIf="pdfs.length > 0">
                    <label for="lblDocumentName" class="sr-only tit_ver">registration certificate</label>
                    <!-- {{pdfs[selectedPage].doc_display_name}}   -->
                  </li>
                </ul>
                <div>
                   
                  <!-- <button type="button" class="btn btn-outline-danger click_reject pdf_preview">PREVIEW</button> -->
                  <button type="button" *ngIf="pdfs.length > 0" class="btn btn-outline-danger click_reject pdf_reject"
                    (click)="pdfs[selectedPage].status = 'Rejected'">REJECT</button>
                  <button type="submit"  class="btn btn-success click_reject click_reject_activ pdf_approve"
                    (click)="pdfs[selectedPage].status = 'Approved'" *ngIf="pdfs.length > 0 && !isDataENtry">APPROVE</button>
                    
                </div>
              </div>
              <div class="col-sm-4">
              </div>
              <div class="col-sm-2"></div>
              <div class="col-sm-1">

              </div>
              <div class="col-sm-2"></div>
              <div clss="col-sm-1">

              </div>
            </div>
          
        </div>
      </div>
    </div>
    <div class="container-fluid mt-4 p-3 bg-white">
      <div class="row ">
        <div class="col-md-12 d-flex align-items-center">
          <div class="col-sm-6">
            <span>Rejected Documents</span>
            <ul style="line-height: 280%" class="p-0 pdf_box pdf_rejected_list">
              <li style="margin-right: 12px; text-align:center !important;" class="pdf_li" *ngFor="let item of pdfs; let index = index" [class.activepdf]="index === 0"
                [ngClass]="{'btn btn-secondary active justify-content-center':item.status === 'Rejected'}"
                 [class.d-none]="item.status === 'Approved' || item.status === 'none' ">{{item.doc_display_name}}
              </li>
            </ul>

          </div>
          <div class="col-sm-4">


            <select name="account" id="PerPage" class="form-control dropdown fill_drop fill_drop_vrfy"
              formControlName="comment" placeholder="Select Rejection Reason">

              <!-- <option>Select Rejection Reason</option> -->
              <option value="null">Select Rejection Reason</option>
              <option value="Blur Document">Blur Document</option>
              <option value="Wrong Document">Wrong Document</option>
              <option value="Incorrect Data">Incorrect Data</option>
            </select>
            <!-- <div class="btn-group " dropdown [dropup]="isDropup">
              <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle  "
                aria-controls="dropdown-basic">
                Select Rejection Reason <span class="caret"></span>      
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Blur Document</a></li>
                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Wrong Documnet</a></li>
                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Incorrect Data</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Separated link</a>
                </li>
              </ul>
            </div> -->
          </div>
          <div class="col-sm-2">
            <a href="javascript:void(0)" class="btn btn-primary bt_blue very_bt" (click)="sumbitVehicle()">SUBMIT</a>

          </div>
        </div>
      </div>
    </div>

  </form>
</div>