<div class="container-fluid pt-4">
    <div class="card-group">
      <div class="card">
          <form [formGroup]="editVehicleDocumentForm" (ngSubmit)="onSubmit()">
        <div class="card-header">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 d-flex ">
                        <div class="tit_ver mr-auto align-self-center"> 2 OF 2 INFORMATION</div>
                        <div class="nav_bt_move ">
                            <button type="button" class="btn btn-outline-info nav_bt_move_click" (change)="!isEditModeOn"  (click)="onEdit()" >{{valueOfButton}}</button>
                            <button type="submit" class="btn btn-primary nav_bt_move_click nav_bt_move_click_activ" *ngIf="isEditModeOn">Save</button>
                            <a routerLink="/vehicle-personal" class="btn btn-primary nav_bt_move_click nav_bt_move_click_activ" *ngIf="!isEditModeOn">Back</a>
                         
                          </div>
                      </div>
                  </div>
            </div>
            
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <div class="alert alert-secondary tit_ver bds" role="alert">
              DOCUMENT VERIFICATION
            </div>
          </h5>
          <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions2" class="light light-scroll" >
            <div class="form-group row">
              <label for="lblOwnership" class="col-sm-5 col-form-label">Ownership</label>
              <div class="col-sm-6">
                  <div class="align-self-center Ownership ">
                      <div class="btn-group btn-group-toggle d-flex " data-toggle="buttons">
                        <label class="btn btn-secondary active justify-content-center">
                          <input type="radio" name="options" id="option1" autocomplete="off" checked> BA
                        </label>
                        <label class="btn btn-secondary justify-content-center">
                          <input type="radio" name="options" id="option2" autocomplete="off"> DRIVER
                        </label>
                      </div>
                      </div>
                  <!-- <fieldset>
                      <div class="switch-toggle switch-candy">
                        <input id="week" name="view" type="radio" checked>
                        <label for="week" onclick="">BA</label>
                        <input id="month" name="view" type="radio">
                        <label for="month" onclick="">DRIVER</label>
                        <a></a>
                      </div>
                    </fieldset> -->
              </div>
            </div>
            <div class="form-group row">
              <label for="lblBusinessAssociateName" class="col-sm-5 col-form-label">Business Associate Name</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="txtBusinessAssociateName" id="txtBusinessAssociateName"  placeholder="Business Associate Name" [attr.disabled]="isEditModeOn ? null : '' ">
              </div>
            </div>
            <div class="form-group row">
              <label for="lblBusinessArea" class="col-sm-5 col-form-label">Business Area *</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="txtBusinessArea" id="txtBusinessArea" placeholder="Business Area *" [attr.disabled]="isEditModeOn ? null : '' ">
                <div *ngIf="submitted && f.txtBusinessArea.errors">
                    <div *ngIf="f.txtBusinessArea.errors.required" class="error_class">Business Area is required</div>
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblDriverNameDetail1" class="col-sm-5 col-form-label">Driver Name Detail 1</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="txtDriverNameDetail1" id="txtDriverNameDetail1" placeholder="Driver Name Detail 1" [attr.disabled]="isEditModeOn ? null : '' ">
              </div>
            </div>
            <div class="form-group row">
              <label for="lblMobileDeviceNumber" class="col-sm-5 col-form-label">Mobile Device Number</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="txtMobileDeviceNumber" id="txtMobileDeviceNumber" placeholder="Mobile Device Number" [attr.disabled]="isEditModeOn ? null : '' ">
              </div>
            </div>
            <div class="form-group row">
              <label for="lblMobileIMEI" class="col-sm-5 col-form-label">Mobile IMEI Number</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="txtMobileIMEI" id="txtMobileIMEI" placeholder="Mobile IMEI Number" [attr.disabled]="isEditModeOn ? null : '' ">
              </div>
            </div>
            <div class="form-group row">
              <label for="lblMobileModelVersion" class="col-sm-5 col-form-label">Mobile Model & Version *</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="txtMobileModelVersion" id="txtMobileModelVersion" placeholder="Mobile Model & Version *" [attr.disabled]="isEditModeOn ? null : '' ">
              </div>
            </div>
            <div class="form-group row">
              <label for="lblLastServiceDate" class="col-sm-5 col-form-label">Last Service Date</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="txtLastServiceDate" id="txtLastServiceDate" placeholder="Last Service Date" [attr.disabled]="isEditModeOn ? null : '' ">
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
      <div class="card">
          <div class="card-header">
              <div class="col-md-12 d-flex justify-content-between align-items-center">
               <div class="tit_ver"> Preview Document

                  
               </div>  
               
                <div class="pdf_nav" style="display: inherit">
                  <button  class="prevpdf"> < </button> 
                  <ul>
                    <li class="com_pdf" *ngFor="let item of pdfs; let index = index" [class.activepdf]="index == 0" >
                      {{item.id}}
                    </li>
                    
                  </ul><button class="nextpdf"> > </button>
                </div>
              </div>
            
          </div>
          <div class="card-body">
              <button ion-button (click)="incrementZoom(-0.1)">
                  sdf
                 </button>
                 <button ion-button (click)="incrementZoom(0.1)">
                   sdaf
                 </button>
            <ul  class="p-0 light light-scroll pdf_box"  malihu-scrollbar [scrollbarOptions]="scrollbarOptions2">
              
              <li class="pdf_li"  *ngFor="let item of pdfs; let index = index" [class.activepdf]="index === 0" >
                 <span class="togglepdf" [ngClass]="{
                  'nonstatus':item.status === 'none',
                  'approved':item.status === 'approved',
                  'rejected':item.status === 'rejected'
                  }" ></span>
                  <pdf-viewer src="{{item.doc_url}}"  
                  [original-size]="true" class="pdf_view" [autoresize]="autoresize" [zoom]="zoom"  >
                
                </pdf-viewer>
                <!-- <embed src="./assets/images/myfile.pdf" style="width: 100%;height:400px;" /> -->
              </li>
             
               
            </ul>
          </div>
          <div class="card-footer bg_white">
              <form>
                  <div class="row">
                    <div class="col-md-12 d-flex justify-content-between align-items-center">
                      <ul class="pdf_box pdf_box1">
                    <li class="tit_ver pdf_li" *ngFor="let item of pdfs; let index = index" [class.activepdf]="index === 0" >
                        <label for="lblDocumentName" class="sr-only tit_ver">registration certificate</label>
                        <!-- <input type="text" readonly class="form-control-plaintext tit_ver" id="txtDocumentName" value="Registration Certificate"> -->
                    {{item.doc_display_name}}
                    </li>
                  </ul>
                    <div>
                      <button type="button" class="btn btn-outline-danger click_reject pdf_preview">PREVIEW</button>  
                      <button type="button" class="btn btn-outline-danger click_reject pdf_reject">REJECT</button>
                        <button type="submit" class="btn btn-success click_reject click_reject_activ pdf_approve">APPROVE</button>
                    </div>
                  </div>
                    <div class="col-sm-4">
                        </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-1">
                     
                    </div>
                    <div class="col-sm-2"></div>
                    <div clss="col-sm-1">
                      
                    </div>
                  </div>
                </form>
          </div>
        </div>
    </div>
    <div class="container-fluid mt-4 p-3 bg-white">
        <div class="row ">
          <div class="col-md-12 d-flex align-items-center">
          <div class="col-sm-6">
              <input type="text" class="form-control" id="txtRejectedDoc" placeholder="RC Book, PUC">
          </div>
          <div class="col-sm-4">
            
          
              <select name="account"  id="PerPage"   class="form-control dropdown fill_drop fill_drop_vrfy">
              
                  <option  > Select Rejection Reason </option>
                  <option >Blur Document</option>
                  <option>Wrong Documnet</option>
                  <option>Incorrect Data</option>
                  <option>Separated link</option>
                </select>
            <!-- <div class="btn-group " dropdown [dropup]="isDropup">
              <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle  "
                aria-controls="dropdown-basic">
                Select Rejection Reason <span class="caret"></span>      
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Blur Document</a></li>
                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Wrong Documnet</a></li>
                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Incorrect Data</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Separated link</a>
                </li>
              </ul>
            </div> -->
          </div>
          <div class="col-sm-2">
            <a href="javascript:void(0)" class="btn btn-primary bt_blue very_bt">SUBMIT</a>
           
          </div>
          </div>
        </div>
      </div>
  </div>
