<div class="container-fluid pt-4">
  <div class="card-group">
    <div class="card">
      <form [formGroup]="editVehiclePersonalForm" (ngSubmit)="onSubmit()">
          <div class="card-header">
          <div class="col-md-12">
              <div class="row">
                  <div class="col-md-12 d-flex ">
                      <div class="tit_ver mr-auto align-self-center"> 1 OF 2 INFORMATION</div>
                      <div class="nav_bt_move ">
                          <button type="button" class="btn btn-outline-info nav_bt_move_click" (change)="!isEditModeOn"
                          (click)="onEdit()">{{valueOfButton}}</button>
                          <button type="submit" class="btn btn-primary nav_bt_move_click nav_bt_move_click_activ" *ngIf="isEditModeOn">Save</button>
              <a (click)="saveDocsStatus(this.resource_id)" class="btn btn-primary nav_bt_move_click nav_bt_move_click_activ" *ngIf="!isEditModeOn">Next</a>
           
                        </div>
                        </div>
                    </div>
                    </div>
                  </div>
       
        <div class="card-body">
          <h5 class="card-title">
              <div class="alert alert-secondary tit_ver bds" role="alert">
              Personal Info
            </div>
          </h5>
          <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions2" class="light light-scroll" >
          <div class="form-group row">
            <label for="lblRegistrationNo" class="col-sm-5 col-form-label">Registration No*</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="plate_number" id="plate_number"
                placeholder="Registration No*" [attr.disabled]="isEditModeOn ? null : '' ">
              <div *ngIf="submitted && f.plate_number.errors">
                <div *ngIf="f.plate_number.errors.required" class="error_class">Registration Number is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="lblVehicleCategory" class="col-sm-5 col-form-label">Vehicle Category *</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="category" id="category"
                placeholder="Vehicle Category *" [attr.disabled]="isEditModeOn ? null : '' ">
              <div *ngIf="submitted && f.category.errors">
                <div *ngIf="f.category.errors.required" class="error_class">Vehicle Category is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="lblVehicleModel" class="col-sm-5 col-form-label">Vehicle Model *</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="model" id="model"
                placeholder="Vehicle Model *" [attr.disabled]="isEditModeOn ? null : '' ">
              <div *ngIf="submitted && f.model.errors">
                <div *ngIf="f.model.errors.required" class="error_class">Vehicle Model is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="lblSeatingCapacity" class="col-sm-5 col-form-label">Seating Capacity *</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="txtSeatingCapacity" id="txtSeatingCapacity"
                placeholder="Seating Capacity *" [attr.disabled]="isEditModeOn ? null : '' ">
              <div *ngIf="submitted && f.txtSeatingCapacity.errors">
                <div *ngIf="f.txtSeatingCapacity.errors.required" class="error_class">Seating Capacity is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="lblColor" class="col-sm-5 col-form-label">Color</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="colour" id="colour" placeholder="Color"
                [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div>
          <div class="form-group row">
            <label for="lblTypeOfFuel" class="col-sm-5 col-form-label">Type Of Fuel</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="fuel_type" id="fuel_type"
                placeholder="Type Of Fuel" [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div>
          <div class="form-group row">
            <label for="lblACNon" class="col-sm-5 col-form-label">AC/Non</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="ac" id="ac" placeholder="AC/Non"
                [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div>
          <div class="form-group row">
            <label for="lblGPSDevice" class="col-sm-5 col-form-label">GPS Device ID</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="gps_provider_id" id="gps_provider_id"
                placeholder="GPS Device ID" [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card">
      <div class="card-header">
          <div class="col-md-12 d-flex justify-content-between align-items-center">
           <div class="tit_ver"> Preview Document</div>  
           
            <div class="pdf_nav" style="display: inherit">
              <button  class="prevpdf"> < </button> 
              <ul>
                <li class="com_pdf" *ngFor="let item of pdfs; let index = index" [class.activepdf]="index == 0" >
                  {{item.id}}
                </li>
                
              </ul><button class="nextpdf"> > </button>
            </div>
          </div>
      </div>
      <div class="card-body position-relative">
          <div class="pdf_zoom">
              <button ion-button (click)="incrementZoom(-0.1)">
                  -
                 </button>
                 <button ion-button (click)="incrementZoom(0.1)">
                   +
                 </button>
                </div>
          <ul  class="p-0 pdf_box" >
              <li class="pdf_li"  *ngFor="let item of pdfs; let index = index" [class.activepdf]="index === 0" >
                 <span class="togglepdf" [ngClass]="{
                  'nonstatus':item.status === 'none',
                  'approved':item.status === 'approved',
                  'rejected':item.status === 'rejected'
                  }" ></span>
                  <pdf-viewer src="{{item.doc_url}}"  
                  [original-size]="false" class="pdf_view" [zoom]="zoom"   [show-all]="true">
                </pdf-viewer>
                <!-- <embed src="./assets/images/myfile.pdf" style="width: 100%;height:400px;" /> -->
              </li>
            </ul>
      </div>
      <div class="card-footer bg_white">
          <form>
              <div class="row">
                  <div class="col-md-12 d-flex justify-content-between align-items-center">
                    <ul class="pdf_box">
                  <li class="tit_ver pdf_li" *ngFor="let item of pdfs; let index = index" [class.activepdf]="index === 0" >
                      <label for="lblDocumentName" class="sr-only tit_ver">registration certificate</label>
                      <!-- <input type="text" readonly class="form-control-plaintext tit_ver" id="txtDocumentName" value="Registration Certificate"> -->
                  {{item.doc_display_name}}
                  </li>
                </ul>
                  <div>
                    <button type="button" class="btn btn-outline-danger click_reject pdf_preview">PREVIEW</button>  
                    <button type="button" class="btn btn-outline-danger click_reject pdf_reject">REJECT</button>
                      <button type="submit" class="btn btn-success click_reject click_reject_activ pdf_approve">APPROVE</button>
                  </div>
                </div>
                  <div class="col-sm-4">
                      </div>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-1">
                   
                  </div>
                  <div class="col-sm-2"></div>
                  <div clss="col-sm-1">
                    
                  </div>
                </div>
            </form>
      </div>
    </div>
</div>
</div>