<div class="container">
  <div class="card-group">
    <div class="card">
      <form [formGroup]="editVehiclePersonalForm" (ngSubmit)="onSubmit()">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-5">
              1 OF 2 INFORMATION
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-1">
              <button type="button" class="btn btn-outline-info" (change)="!isEditModeOn"
                (click)="onEdit()">{{valueOfButton}}</button>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1">
              <button type="submit" class="btn btn-primary" *ngIf="isEditModeOn">Save</button>
              <a routerLink="/vehicle-document" class="btn btn-primary" *ngIf="!isEditModeOn">Next</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <div class="alert alert-secondary" role="alert">
              Personal Info
            </div>
          </h5>
          <div class="form-group row">
            <label for="lblRegistrationNo" class="col-sm-5 col-form-label">Registration No*</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="txtRegistrationNo" id="txtRegistrationNo"
                placeholder="Registration No*" [attr.disabled]="isEditModeOn ? null : '' ">
              <div *ngIf="submitted && f.txtRegistrationNo.errors">
                <div *ngIf="f.txtRegistrationNo.errors.required">Registration Number is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="lblVehicleCategory" class="col-sm-5 col-form-label">Vehicle Category *</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="txtVehicleCategory" id="txtVehicleCategory"
                placeholder="Vehicle Category *" [attr.disabled]="isEditModeOn ? null : '' ">
              <div *ngIf="submitted && f.txtVehicleCategory.errors">
                <div *ngIf="f.txtVehicleCategory.errors.required">Vehicle Category is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="lblVehicleModel" class="col-sm-5 col-form-label">Vehicle Model *</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="txtVehicleModel" id="txtVehicleModel"
                placeholder="Vehicle Model *" [attr.disabled]="isEditModeOn ? null : '' ">
              <div *ngIf="submitted && f.txtVehicleModel.errors">
                <div *ngIf="f.txtVehicleModel.errors.required">Vehicle Model is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="lblSeatingCapacity" class="col-sm-5 col-form-label">Seating Capacity *</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="txtSeatingCapacity" id="txtSeatingCapacity"
                placeholder="Seating Capacity *" [attr.disabled]="isEditModeOn ? null : '' ">
              <div *ngIf="submitted && f.txtSeatingCapacity.errors">
                <div *ngIf="f.txtSeatingCapacity.errors.required">Seating Capacity is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="lblColor" class="col-sm-5 col-form-label">Color</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="txtColor" id="txtColor" placeholder="Color"
                [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div>
          <div class="form-group row">
            <label for="lblTypeOfFuel" class="col-sm-5 col-form-label">Type Of Fuel</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="txtTypeOfFuel" id="txtTypeOfFuel"
                placeholder="Type Of Fuel" [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div>
          <div class="form-group row">
            <label for="lblACNon" class="col-sm-5 col-form-label">AC/Non</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="txtACNon" id="txtACNon" placeholder="AC/Non"
                [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div>
          <div class="form-group row">
            <label for="lblGPSDevice" class="col-sm-5 col-form-label">GPS Device ID</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="txtGPSDevice" id="txtGPSDevice"
                placeholder="GPS Device ID" [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div>
        </div>
    </form>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-5">
          <span> PREVIEW DOCUMENT</span>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)"
                  (click)="ShowImage('./assets/img/Doc.jpg')">1</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)"
                  (click)="ShowImage('./assets/img/3.jpg')">2</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)"
                  (click)="ShowImage('./assets/img/TestDoc.jpg')">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
    <div class="card-body">
      <img src="{{imageURL}}" width="500" height="400" alt="...">
    </div>
    <div class="card-footer">
      <form>
        <div class="row">
          <div class="col-sm-4">
            <label for="lblDocumentName" class="sr-only">Document Name</label>
            <input type="text" readonly class="form-control-plaintext" id="txtDocumentName" value="DRIVING LICENCE">
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-outline-danger">REJECT</button>
          </div>
          <div class="col-sm-2"></div>
          <div clss="col-sm-1">
            <button type="submit" class="btn btn-success mb-2">APPROVE</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>