<div class="container-fluid pt-4">
  <div class="card-group">
    <div class="card">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card-header">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 d-flex ">
                <div class="tit_ver mr-auto align-self-center"> 1 OF 2 INFORMATION</div>
                <div class="nav_bt_move ">
                  <button type="button" class="btn btn-outline-info nav_bt_move_click" (change)="!isEditModeOn"
                    (click)="onEdit()">{{valueOfButton}}</button>
                  <button type="submit" class="btn btn-primary nav_bt_move_click nav_bt_move_click_activ"
                    *ngIf="isEditModeOn">Save</button>
                  <a (click)="saveDocsStatus(this.resource_id)"
                    class="btn btn-primary nav_bt_move_click nav_bt_move_click_activ" *ngIf="!isEditModeOn">Next</a>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <h5 class="card-title">
            <div class="alert alert-secondary tit_ver bds" role="alert">
              Personal Info
            </div>
          </h5>
          <div malihu-scrollbar  class="light light-scroll">
            <div class="form-group row">
              <label for="lblplate_number" class="col-sm-5 col-form-label">Registration No*</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="plate_number" id="plate_number"
                  placeholder="Registration No*" [attr.disabled]="isEditModeOn ? null : '' ">
                <div *ngIf="submitted && f.plate_number.errors">
                  <div *ngIf="f.plate_number.errors.required" class="error_class">Registration Number is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblcategory" class="col-sm-5 col-form-label">Vehicle Category *</label>
              <div class="col-sm-6">
                <!-- <input type="text" class="form-control" formControlName="category" id="category"
                placeholder="Vehicle Category *" [attr.disabled]="isEditModeOn ? null : '' "> -->
                <select name="category" formControlName="category" id="category"
                  class="form-control dropdown dropdown_custom indrop" [attr.disabled]="isEditModeOn ? null : '' ">
                  <option value="SEDAN">SEDAN </option>
                  <option value="PREMIUM SEDAN">PREMIUM SEDAN </option>
                  <option value="HATCHBACK">HATCHBACK </option>
                  <option value="SUV">SUV </option>
                  <option value="PREMIUM SUV">PREMIUM SUV </option>
                  <option value="MINI BUS">MINI BUS </option>
                  <option value="BUS">BUS</option>
                </select>
                <div *ngIf="submitted && f.category.errors">
                  <div *ngIf="f.category.errors.required" class="error_class">Vehicle Category is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblmodel" class="col-sm-5 col-form-label">Vehicle Model *</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="model" id="model" placeholder="Vehicle Model *"
                  [attr.disabled]="isEditModeOn ? null : '' ">
                <div *ngIf="submitted && f.model.errors">
                  <div *ngIf="f.model.errors.required" class="error_class">Vehicle Model is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblseats" class="col-sm-5 col-form-label">Seating Capacity *</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="seats" id="seats"
                  placeholder="Seating Capacity *" [attr.disabled]="isEditModeOn ? null : '' ">
                <div *ngIf="submitted && f.seats.errors">
                  <div *ngIf="f.seats.errors.required" class="error_class">Seating Capacity is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblcolour" class="col-sm-5 col-form-label">Color</label>
              <div class="col-sm-6">
                <!-- <input type="text" class="form-control" formControlName="colour" id="colour" placeholder="Color"
                [attr.disabled]="isEditModeOn ? null : '' "> -->
                <select name="account" formControlName="colour" id="colour"
                  class="form-control dropdown dropdown_custom indrop" [attr.disabled]="isEditModeOn ? null : '' ">
                  <option value="WHITE">WHITE </option>
                  <option value="BLACK">BLACK </option>
                  <option value="RED">RED </option>
                  <option value="BLUE">BLUE </option>
                  <option value="SILVER">SILVER </option>
                  <option value="YELLOW">YELLOW </option>
                  <option value="BROWN">BROWN</option>
                  <option>OTHERS</option>
                </select>


                <div *ngIf="submitted && f.colour.errors">
                  <div *ngIf="f.colour.errors.required" class="error_class">Color is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblmake_year" class="col-sm-5 col-form-label">Manufacture Date * </label>
              <div class="col-sm-6 mb-0">
                <!-- <input type="text" class="form-control" formControlName="make_year" id="make_year"
                placeholder="Type Of Fuel" [attr.disabled]="isEditModeOn ? null : '' "> 
              -->
                <div class="form-group form-group-custom">
                  <div class="input-group input-group-custom">
                    <input type="text" readonly class="form-control date_form_control" formControlName="make" id="make_year"
                      placeholder="Manufacture Date *" name="dp" ngbDatepicker #make_year="ngbDatepicker"
                      [disabled]="isEditModeOn?false:true"
                      [(ngModel)]="make_year_model" 
                      autocomplete="off" [placement]="'bottom-left'"
                      value="{{getFormattedDate(make_year_model)|date: serverDateFormat}}"
                      >
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="make_year.toggle()"
                        [attr.disabled]="isEditModeOn ? null : '' " type="button"></button>
                    </div>
                  </div>
                </div>


                <div *ngIf="submitted && f.make.errors">
                  <div *ngIf="f.make.errors.required" class="error_class">Manufacture Date is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
                <label for="lblregistration_date" class="col-sm-5 col-form-label">Registration Date *</label>
                <div class="col-sm-6 mb-0">
                  <!-- <input type="text" class="form-control" formControlName="registration_date" id="fuel_type"
                  placeholder="Type Of Fuel" [attr.disabled]="isEditModeOn ? null : '' "> -->
                  <div class="form-group form-group-custom">
                    <div class="input-group input-group-custom">
                      <input type="text" readonly class="form-control date_form_control" placeholder="Registration Date *"
                        [(ngModel)]="registration_date_model" name="dp" ngbDatepicker #registration_date="ngbDatepicker"
                        formControlName="registration_date" 
                        autocomplete="off" [placement]="'bottom-left'"
                        value="{{getFormattedDate(registration_date_model)|date: serverDateFormat}}"
                        [disabled]="isEditModeOn?false:true" id="registration_date">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="registration_date.toggle()"
                          [attr.disabled]="isEditModeOn ? null : '' " type="button"></button>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="submitted && f.registration_date.errors">
                    <div *ngIf="f.registration_date.errors.required" class="error_class">Registration Date is required
                    </div>
                  </div>
                </div>
              </div>


            <div class="form-group row">
              <label for="lblinsurance_date" class="col-sm-5 col-form-label">Insurance Date *</label>
              <div class="col-sm-6 mb-0">
                <!-- <input type="text" class="form-control" formControlName="registration_date" id="fuel_type"
                placeholder="Type Of Fuel" [attr.disabled]="isEditModeOn ? null : '' "> -->
                <div class="form-group form-group-custom">
                  <div class="input-group input-group-custom">
                    <input type="text" readonly class="form-control date_form_control" placeholder="Registration Date *"
                      [(ngModel)]="insurance_date_model"
                      autocomplete="off" [placement]="'bottom-left'"
                      value="{{getFormattedDate(insurance_date_model)|date: serverDateFormat}}" name="dp" ngbDatepicker
                      #insurance_date="ngbDatepicker" formControlName="insurance_date"
                      [disabled]="isEditModeOn?false:true" id="insurance_date">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="insurance_date.toggle()"
                        [attr.disabled]="isEditModeOn ? null : '' " type="button"></button>
                    </div>
                  </div>
                </div>
                <div *ngIf="submitted && f.insurance_date.errors">
                  <div *ngIf="f.insurance_date.errors.required" class="error_class">Insurance Date is required</div>
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label for="lblpuc_validity_date" class="col-sm-5 col-form-label">PUC Validity Date *</label>
              <div class="col-sm-6 mb-0">
                <!-- <input type="text" class="form-control" formControlName="puc_validity_date" id="puc_validity_date"
                placeholder="Type Of Fuel" [attr.disabled]="isEditModeOn ? null : '' "> -->
                <div class="form-group form-group-custom">
                  <div class="input-group input-group-custom">
                    <input type="text" readonly class="form-control date_form_control" formControlName="puc_validity_date"
                    autocomplete="off" [placement]="'bottom-left'"
                      [(ngModel)]="puc_date_model" value="{{getFormattedDate(puc_date_model)|date: serverDateFormat}}"
                      [disabled]="isEditModeOn?false:true" id="puc_validity_date" placeholder="PUC Validity Date  *"
                      name="dp" ngbDatepicker #puc_validity_date="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="puc_validity_date.toggle()"
                        [attr.disabled]="isEditModeOn ? null : '' " type="button"></button>
                    </div>
                  </div>
                </div>


                <div *ngIf="submitted && f.puc_validity_date.errors">
                  <div *ngIf="f.puc_validity_date.errors.required" class="error_class">PUC Validity Date is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblfitness_validity_date" class="col-sm-5 col-form-label">Fitness Certificate Validity Date
                *</label>
              <div class="col-sm-6 mb-0">
                <!-- <input type="text" class="form-control" formControlName="fitness_validity_date" id="fitness_validity_date"
                placeholder="Type Of Fuel" [attr.disabled]="isEditModeOn ? null : '' "> -->
                <div class="form-group form-group-custom">
                  <div class="input-group input-group-custom">
                    <input type="text" readonly class="form-control date_form_control" [(ngModel)]="fitness_date_model"
                    autocomplete="off" [placement]="'bottom-left'"
                      value="{{getFormattedDate(fitness_date_model)|date: serverDateFormat}}"
                      placeholder="Fitness Certificate Validity Date *" name="dp" ngbDatepicker
                      [disabled]="isEditModeOn?false:true" #fitness_validity_date="ngbDatepicker"
                      formControlName="fitness_validity_date" id="fitness_validity_date">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="fitness_validity_date.toggle()"
                        [attr.disabled]="isEditModeOn ? null : '' " type="button"></button>
                    </div>
                  </div>
                </div>


                <div *ngIf="submitted && f.fitness_validity_date.errors">
                  <div *ngIf="f.fitness_validity_date.errors.required" class="error_class">Fitness Certificate Validity
                    Date is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblpermit_validity_date" class="col-sm-5 col-form-label">Commercial Permit Validity Date
                *</label>
              <div class="col-sm-6 mb-0">
                <!-- <input type="text" class="form-control" formControlName="permit_validity_date" id="permit_validity_date"
                placeholder="Type Of Fuel" [attr.disabled]="isEditModeOn ? null : '' "> -->
                <div class="form-group form-group-custom">
                  <div class="input-group input-group-custom">
                    <input type="text" readonly class="form-control date_form_control" [(ngModel)]="permit_date_model"
                      value="{{getFormattedDate(permit_date_model)|date: serverDateFormat}}"
                      placeholder="Commercial Permit Validity Date *" name="dp" ngbDatepicker
                      autocomplete="off" [placement]="'bottom-left'"
                      [disabled]="isEditModeOn?false:true" #permit_validity_date="ngbDatepicker"
                      formControlName="permit_validity_date" id="permit_validity_date">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="permit_validity_date.toggle()"
                        [attr.disabled]="isEditModeOn ? null : '' " type="button"></button>
                    </div>
                  </div>
                </div>


                <div *ngIf="submitted && f.permit_validity_date.errors">
                  <div *ngIf="f.permit_validity_date.errors.required" class="error_class">Commercial Permit Validity
                    Date is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblac" class="col-sm-5 col-form-label">AC/Non</label>
              <div class="col-sm-6">
                <!-- <input type="text" class="form-control" formControlName="ac" id="ac" placeholder="AC/Non"
                [attr.disabled]="isEditModeOn ? null : '' "> -->
                <select name="account" formControlName="ac" id="ac" class="form-control dropdown dropdown_custom indrop"
                  [attr.disabled]="isEditModeOn ? null : '' ">
                  <option value='1'>AC</option>
                  <option value='0'>NON AC</option>

                </select>


                <div *ngIf="submitted && f.ac.errors">
                  <div *ngIf="f.ac.errors.required" class="error_class">AC/Non is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblfuel_type" class="col-sm-5 col-form-label">Type Of Fuel</label>
              <div class="col-sm-6">
                <!-- <input type="text" class="form-control" formControlName="fuel_type" id="fuel_type"
                placeholder="Type Of Fuel" [attr.disabled]="isEditModeOn ? null : '' "> -->
                <select name="account" formControlName="fuel_type" id="fuel_type"
                  class="form-control dropdown dropdown_custom indrop" [attr.disabled]="isEditModeOn ? null : '' ">
                  <option value='Diesel'>Diesel </option>
                  <option value='Petrol'>Petrol </option>
                  <option value="Electric">Hybrid</option>
                  <!-- <option value="CNG">CNG </option> -->

                </select>


                <div *ngIf="submitted && f.fuel_type.errors">
                  <div *ngIf="f.fuel_type.errors.required" class="error_class">Type Of Fuel is required</div>
                </div>
              </div>
            </div>

            <!-- <div class="form-group row">
            <label for="lblGPSDevice" class="col-sm-5 col-form-label">GPS Device ID</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="gps_provider_id" id="gps_provider_id"
                placeholder="GPS Device ID" [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div> -->
          </div>
        </div>
      </form>
    </div>






















    <div class="card">
      <div class="card-header">
        <div class="col-md-12 d-flex justify-content-between align-items-center">
          <div class="tit_ver"> Preview Document</div>

          <div class="pdf_nav" style="display: inherit">
            <button class="prevpdf" (click)="onPreviousButtonClick()">
              < </button> <ul>
                <li class="com_pdf" *ngFor="let item of pdfs; let index = index"
                  [class.activepdf]="index == selectedPage" (click)="pageNumberButtonClicked(index)">
                  {{index+1}}
                </li>
                </ul><button class="nextpdf" (click)="onNextButtonClick()"> > </button>
          </div>
        </div>
      </div>
      <div class="card-body position-relative" style="height:490px;overflow: auto;">
        <div class="pdf_zoom">
          <button ion-button (click)="incrementZoom(-0.1)">
            -
          </button>
          <button ion-button (click)="incrementZoom(0.1)">
            +
          </button>
        </div>
        <ul class="p-0 pdf_box">

          <li class="pdf_li activepdf" *ngIf="pdfs.length > 0">
            <span class="togglepdf" [ngClass]="{
                  'nonstatus':pdfs[selectedPage].status === 'none',
                  'approved':pdfs[selectedPage].status === 'Approved',
                  'rejected':pdfs[selectedPage].status === 'Rejected'
                  }"></span>
            <pdf-viewer src="https://{{pdfs.length > 0 ? pdfs[selectedPage].doc_url : null}}?{{CurentDateTime}} " [original-size]="false" class="pdf_view"
              [zoom]="zoom" [show-all]="true"
              [ngClass]="{'d-none': !check_if_doc_is_pdf()}"  
              >
            </pdf-viewer>
            <img src="https://{{pdfs.length > 0 ? pdfs[selectedPage].doc_url : null}}?{{CurentDateTime}} "  
            [ngClass]="{'d-none': check_if_doc_is_pdf()}"
            class="pdf_view" style="width: 100%;">
            <!-- <pdf-viewer src="{{'https://'+pdfs[selectedPage].doc_url}}" [original-size]="false" class="pdf_view" [zoom]="zoom" [show-all]="true"
            [ngClass]="{'d-none': !check_if_doc_is_pdf(pdfs[selectedPage].doc_url)}"  
            >
           
            <embed src="./assets/images/myfile.pdf" style="width: 100%;height:400px;" /> -->
          </li>
        </ul>
      </div>
      <div class="card-footer bg_white">
        <form>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-between align-items-center">
              <ul class="pdf_box">
                <li class="tit_ver pdf_li activepdf"  *ngIf="pdfs.length > 0">
                  <label for="lblDocumentName" class="sr-only tit_ver">registration certificate</label>
                  {{pdfs.length > 0 ? pdfs[selectedPage].doc_display_name:''}}
                </li>
              </ul>
              <div>
                <!-- <button type="button" class="btn btn-outline-danger click_reject pdf_preview">PREVIEW</button> -->
                <button type="button"  *ngIf="pdfs.length > 0" class="btn btn-outline-danger click_reject pdf_reject"
                  (click)="pdfs[selectedPage].status = 'Rejected'">REJECT</button>
                <button type="submit" *ngIf="pdfs.length > 0 && !isDataENtry" class="btn btn-success click_reject click_reject_activ pdf_approve"
                  (click)="pdfs[selectedPage].status = 'Approved'">APPROVE</button>
              </div>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-1">

            </div>
            <div class="col-sm-2"></div>
            <div clss="col-sm-1">

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>