<div class="container-fluid mt-4">
  <div class="card-group">
    <div class="card">
      <form [formGroup]="editDriverBusinessForm" (ngSubmit)="onSubmit()">
      <div class="card-header">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 d-flex justify-content-between align-items-center">
<div class="tit_ver"> 2 OF 3 INFORMATION</div>
<div class="nav_bt_move"> <button type="button" class="btn btn-outline-info nav_bt_move_click" (change)="!isEditModeOn"  (click)="onEdit()" >{{valueOfButton}}</button>
  <button type="submit" class="btn btn-primary nav_bt_move_click nav_bt_move_click_activ" *ngIf="isEditModeOn">Save</button>
  <a routerLink="/driver-personal" class="btn btn-outline-primary nav_bt_move_click" *ngIf="!isEditModeOn">BACK</a>
  <a routerLink="/driver-document" class="btn  nav_bt_move_click nav_bt_move_click_activ" *ngIf="!isEditModeOn">NEXT</a>
</div>
              </div>
          </div>
        </div>
        
      </div>
      <div class="card-body">
        <h5 class="card-title ">
          <div class="alert alert-secondary tit_ver bds" role="alert">
            BUSINESS
          </div>
        </h5>
        <h1><a (click)="onClick()">Click</a></h1>
  
        <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions2" class="light light-scroll" >
          <!-- <div class="form-group row">
            <label for="lblTermsOfService" class="col-sm-5 col-form-label">Terms Of Service</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="txtTermsOfService" id="txtTermsOfService"  placeholder="Terms Of Service" [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div> -->
          <div class="form-group row">
            <label for="lblBusinessState" class="col-sm-5 col-form-label">Business State</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="business_state" id="business_state"  placeholder="Business State" [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div>
          <div class="form-group row">
            <label for="lblBusinessCity" class="col-sm-5 col-form-label">Business City</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="business_city" id="business_city" placeholder="Business City" [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div>
          <div class="form-group row">
            <label for="lblBankName" class="col-sm-5 col-form-label">Bank Name</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="bank_name" id="bank_name" placeholder="Bank Name" [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div>
          <div class="form-group row">
            <label for="lblBankAccNo" class="col-sm-5 col-form-label">Bank Account No</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="bank_no" id="bank_no" placeholder="Bank Account No" [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div>
          <div class="form-group row">
            <label for="lblIFSCCode" class="col-sm-5 col-form-label">IFSC Code</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="ifsc_code" id="ifsc_code" placeholder="IFSC Code" [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div>
          <!-- <div class="form-group row">
            <label for="lblDriverAcc" class="col-sm-5 col-form-label">Driver Account</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="txtDriverAcc" id="txtDriverAcc" placeholder="Driver Account" [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div> -->
          <div class="form-group row">
              <label for="lblLicenceNo" class="col-sm-5 col-form-label">Licence Number *</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="licence_number"  id="licence_number" placeholder="Licence Number *" [attr.disabled]="isEditModeOn ? null : '' ">
                <div *ngIf="submitted && f.licence_number.errors">
                  <div *ngIf="f.licence_number.errors.required" class="error_class">Licence Number is required</div>
              </div>
              </div>
            </div>
          </div>
      </div>
      </form>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="col-md-12 d-flex justify-content-between align-items-center">
             <div class="tit_ver"> Preview Document</div>  
             
              <div class="pdf_nav" style="display: inherit">
                <button  class="prevpdf"> < </button> 
                <ul>
                  <li class="com_pdf" *ngFor="let item of pdfs; let index = index" [class.activepdf]="index == 0" >
                    {{item.id}}
                  </li>
                  
                </ul><button class="nextpdf"> > </button>
              </div>
            </div>
        </div>
      <div class="card-body position-relative">
          <div class="pdf_zoom">
              <button ion-button (click)="incrementZoom(-0.1)">
                  -
                 </button>
                 <button ion-button (click)="incrementZoom(0.1)">
                   +
                 </button>
                </div>
          <ul  class="p-0  pdf_box" >
              <li class="pdf_li"  *ngFor="let item of pdfs; let index = index" [class.activepdf]="index === 0" >
                 <span class="togglepdf" [ngClass]="{
                  'nonstatus':item.status === 'none',
                  'approved':item.status === 'approved',
                  'rejected':item.status === 'rejected'
                  }" ></span>
                  <pdf-viewer src="{{item.doc_url}}"
                  [original-size]="false" class="pdf_view" [zoom]="zoom"   [show-all]="true" >
                </pdf-viewer>
                <!-- <embed src="./assets/images/myfile.pdf" style="width: 100%;height:400px;" /> -->
              </li>
            </ul>
      </div>
      <div class="card-footer bg_white">
        <form>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-between align-items-center">
                  <ul class="pdf_box">
                <li class="tit_ver pdf_li" *ngFor="let item of pdfs; let index = index" [class.activepdf]="index === 0" >
                    <label for="lblDocumentName" class="sr-only tit_ver">registration certificate</label>
                    <!-- <input type="text" readonly class="form-control-plaintext tit_ver" id="txtDocumentName" value="Registration Certificate"> -->
                {{item.doc_display_name}}
                </li>
              </ul>
                <div>
                  <button type="button" class="btn btn-outline-danger click_reject pdf_preview">PREVIEW</button>  
                  <button type="button" class="btn btn-outline-danger click_reject pdf_reject">REJECT</button>
                    <button type="submit" class="btn btn-success click_reject click_reject_activ pdf_approve">APPROVE</button>
                </div>
              </div>
                <div class="col-sm-4">
                    </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-1">
                 
                </div>
                <div class="col-sm-2"></div>
                <div clss="col-sm-1">
                  
                </div>
              </div>
        </form>
      </div>
    </div>
  </div>
</div>