<div class="container-fluid mt-4">
  <div class="card-group">
    <div class="card">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card-header">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 d-flex justify-content-between align-items-center">
                <div class="tit_ver"> 2 OF 3 INFORMATION</div>
                <div class="nav_bt_move"> <button type="button" class="btn btn-outline-info nav_bt_move_click"
                    (change)="!isEditModeOn" (click)="onEdit()">{{valueOfButton}}</button>
                  <button type="submit" class="btn btn-primary nav_bt_move_click nav_bt_move_click_activ"
                    *ngIf="isEditModeOn">Save</button>
                  <a (click)="backToPersonal(this.resource_id)" class="btn btn-outline-primary nav_bt_move_click"
                    *ngIf="!isEditModeOn">BACK</a>
                  <a (click)="saveDocsStatus(this.resource_id)" class="btn  nav_bt_move_click nav_bt_move_click_activ"
                    *ngIf="!isEditModeOn">NEXT</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="card-body">
          <h5 class="card-title ">
            <div class="alert alert-secondary tit_ver bds" role="alert">
              BUSINESS
            </div>
          </h5>

          <div malihu-scrollbar class="light light-scroll">
            <!-- <div class="form-group row">
            <label for="lblTermsOfService" class="col-sm-5 col-form-label">Terms Of Service</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="txtTermsOfService" id="txtTermsOfService"  placeholder="Terms Of Service" [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div> -->
            <div class="form-group row">
              <label for="lblLicenceNo" class="col-sm-5 col-form-label">Licence Number *</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="licence_number" id="licence_number"
                  placeholder="Licence Number *" [attr.disabled]="isEditModeOn ? null : '' ">
                <div *ngIf="submitted && f.licence_number.errors">
                  <div *ngIf="f.licence_number.errors.required" class="error_class">Licence Number is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lbllicence_type" class="col-sm-5 col-form-label">Licence Type *</label>
              <div class="col-sm-6">
                <!-- <input type="text" class="form-control" formControlName="licence_number"  id="licence_number" placeholder="Licence Number *" [attr.disabled]="isEditModeOn ? null : '' "> -->
                <select name="licence_type" class="form-control dropdown dropdown_custom indrop"
                  formControlName="licence_type" id="licence_type" [attr.disabled]="isEditModeOn ? null : '' ">
                  <option value="LMV">LMV </option>
                  <option value="HMV">HMV</option>
                  <option value="MGV">MGV</option>
                  <option value="HPMV/HTV">HPMV/HTV</option>
                </select>
                <div *ngIf="submitted && f.licence_type.errors">
                  <div *ngIf="f.licence_type.errors.required" class="error_class">Licence Type is required</div>
                </div>
              </div>
            </div>
            <!-- <div class="form-group row">
            <label for="lblBusinessState" class="col-sm-5 col-form-label">Business State</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="business_state" id="business_state"  placeholder="Business State" [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div> -->
            <div class="form-group row">
              <label for="lbllicence_validity" class="col-sm-5 col-form-label">Licence Expiry Date *</label>
              <div class="col-sm-6">
                <!-- <input type="text" class="form-control" formControlName="business_city" id="business_city" placeholder="Business City" [attr.disabled]="isEditModeOn ? null : '' "> -->
                <div class="form-group form-group-custom mb-0">
                  <div class="input-group input-group-custom">
                    <input type="text" class="form-control date_form_control" formControlName="licence_validity"
                      placeholder="Licence Expiry Date *" name="dp" ngbDatepicker #licence_validity="ngbDatepicker"
                      id="licence_validity" 
                      [disabled]="isEditModeOn?false:true" [(ngModel)]="licence_expiry_date_model"
                      value="{{getFormattedDate(licence_expiry_date_model)|date: serverDateFormat}}"
                      >
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="licence_validity.toggle()"
                      [attr.disabled]="isEditModeOn ? null : '' " type="button"></button>
                    </div>
                  </div>
                </div>
                <div *ngIf="submitted && f.licence_validity.errors">
                  <div *ngIf="f.licence_validity.errors.required" class="error_class">Licence Expiry Date is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lbldate_of_registration" class="col-sm-5 col-form-label">Date Of Induction *</label>
              <div class="col-sm-6">
                <!-- <input type="text" class="form-control" formControlName="business_city" id="business_city" placeholder="Business City" [attr.disabled]="isEditModeOn ? null : '' "> -->
                <div class="form-group form-group-custom mb-0">
                  <div class="input-group input-group-custom">
                    <input type="text" class="form-control date_form_control" formControlName="date_of_registration"
                      placeholder="Date Of Induction *" name="dp" ngbDatepicker #date_of_registration="ngbDatepicker"
                      id="date_of_registration" [disabled]="isEditModeOn?false:true" [(ngModel)]="induction_date_model"
                      value="{{getFormattedDate(induction_date_model)|date: serverDateFormat}}">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="date_of_registration.toggle()"
                      [attr.disabled]="isEditModeOn ? null : '' "  type="button"></button>
                    </div>
                  </div>
                </div>
                <div *ngIf="submitted && f.date_of_registration.errors">
                  <div *ngIf="f.date_of_registration.errors.required" class="error_class">Date Of Induction is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblbadge_number" class="col-sm-5 col-form-label">Badge Number *</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="badge_number" id="badge_number"
                  placeholder="Badge Number" [attr.disabled]="isEditModeOn ? null : '' ">
                <div *ngIf="submitted && f.badge_number.errors">
                  <div *ngIf="f.badge_number.errors.required" class="error_class">Badge Number is required</div>
                </div>
              </div>

            </div>
            <div class="form-group row">
              <label for="lblbadge_issue_date" class="col-sm-5 col-form-label">Badge Issue Date</label>
              <div class="col-sm-6">
                <!-- <input type="text" class="form-control" formControlName="business_city" id="business_city" placeholder="Business City" [attr.disabled]="isEditModeOn ? null : '' "> -->
                <div class="form-group form-group-custom mb-0">
                  <div class="input-group input-group-custom">
                    <input type="text" class="form-control date_form_control" formControlName="badge_issue_date"
                      id="badge_issue_date" placeholder="Badge Issue Date *" name="dp" ngbDatepicker
                      #badge_issue_date="ngbDatepicker" [disabled]="isEditModeOn?false:true"
                      [(ngModel)]="badge_issue_date_model"
                      value="{{getFormattedDate(badge_issue_date_model)|date: serverDateFormat}}">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="badge_issue_date.toggle()"
                      [attr.disabled]="isEditModeOn ? null : '' " type="button"></button>
                    </div>
                  </div>
                </div>
                <div *ngIf="submitted && f.badge_issue_date.errors">
                  <div *ngIf="f.badge_issue_date.errors.required" class="error_class">Badge Issue Date is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblbadge_expire_date" class="col-sm-5 col-form-label">Badge Expiry Date *</label>
              <div class="col-sm-6">
                <!-- <input type="text" class="form-control" formControlName="business_city" id="business_city" placeholder="Business City" [attr.disabled]="isEditModeOn ? null : '' "> -->
                <div class="form-group form-group-custom mb-0">
                  <div class="input-group input-group-custom">
                    <input type="text" class="form-control date_form_control" formControlName="badge_expire_date"
                      placeholder="Badge Expiry Date *" name="dp" ngbDatepicker #badge_expire_date="ngbDatepicker"
                      [disabled]="isEditModeOn?false:true" [(ngModel)]="badge_expiry_date_model"
                      value="{{getFormattedDate(badge_expiry_date_model)|date: serverDateFormat}}">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="badge_expire_date.toggle()"
                      [attr.disabled]="isEditModeOn ? null : '' " type="button"></button>
                    </div>
                  </div>
                </div>
                <div *ngIf="submitted && f.badge_expire_date.errors">
                  <div *ngIf="f.badge_expire_date.errors.required" class="error_class">Badge Expiry Date is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblbank_name" class="col-sm-5 col-form-label">Bank Name *</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="bank_name" id="bank_name"
                  placeholder="Bank Name" [attr.disabled]="isEditModeOn ? null : '' ">
                <div *ngIf="submitted && f.bank_name.errors">
                  <div *ngIf="f.bank_name.errors.required" class="error_class">Bank Name is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblbank_no" class="col-sm-5 col-form-label">Bank Account No *</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="bank_no" id="bank_no" placeholder="Bank Name"
                  [attr.disabled]="isEditModeOn ? null : '' ">
                <div *ngIf="submitted && f.bank_no.errors">
                  <div *ngIf="f.bank_no.errors.required" class="error_class">Bank Account No is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lblifsc_code" class="col-sm-5 col-form-label">IFSC Code *</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="ifsc_code" id="ifsc_code"
                  placeholder="IFSC Code" [attr.disabled]="isEditModeOn ? null : '' ">
                <div *ngIf="submitted && f.ifsc_code.errors">
                  <div *ngIf="f.ifsc_code.errors.required" class="error_class">IFSC Code is required</div>
                </div>
              </div>
            </div>
            <!-- <div class="form-group row">
            <label for="lblDriverAcc" class="col-sm-5 col-form-label">Driver Account</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="txtDriverAcc" id="txtDriverAcc" placeholder="Driver Account" [attr.disabled]="isEditModeOn ? null : '' ">
            </div>
          </div> -->

          </div>
        </div>
      </form>
    </div>

    <div class="card">
      <div class="card-header">
        <div class="col-md-12 d-flex justify-content-between align-items-center">
          <div class="tit_ver"> Preview Document</div>

          <div class="pdf_nav" style="display: inherit">
            <button class="prevpdf" (click)="onPreviousButtonClick()">
              < </button> <ul>
                <li class="com_pdf" *ngFor="let item of pdfs; let index = index"
                  [class.activepdf]="index == selectedPage" (click)="pageNumberButtonClicked(index)">
                  {{index+1}}
                </li>
                </ul><button class="nextpdf" (click)="onNextButtonClick()"> > </button>
          </div>
        </div>
      </div>
      <div class="card-body position-relative" style="height:490px;overflow: auto;">
        <div class="pdf_zoom">
          <button ion-button (click)="incrementZoom(-0.1)">
            -
          </button>
          <button ion-button (click)="incrementZoom(0.1)">
            +
          </button>
        </div>
        <ul class="p-0 pdf_box">

          <li class="pdf_li activepdf" *ngIf="pdfs.length > 0">
            <span class="togglepdf"
             [ngClass]="{
                          'nonstatus':pdfs[selectedPage].status === 'none',
                          'approved':pdfs[selectedPage].status === 'Approved',
                          'rejected':pdfs[selectedPage].status === 'Rejected'
                          }"></span>
             <pdf-viewer src="https://{{pdfs.length > 0 ? pdfs[selectedPage].doc_url : null}} " [original-size]="false" class="pdf_view"
              [zoom]="zoom" [show-all]="true"
              [ngClass]="{'d-none': !check_if_doc_is_pdf()}"  
              >
            </pdf-viewer>
            <img src="https://{{pdfs.length > 0 ? pdfs[selectedPage].doc_url : null}} " 
             [ngClass]="{'d-none': check_if_doc_is_pdf()}"
              class="pdf_view" style="width: 100%;">
            <!-- <embed src="./assets/images/myfile.pdf" style="width: 100%;height:400px;" /> -->
          </li>
        </ul>
      </div>
      <div class="card-footer bg_white">
        <form>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-between align-items-center">
              <ul class="pdf_box">
                <li class="tit_ver pdf_li activepdf" *ngIf="pdfs.length > 0">
                  <label for="lblDocumentName" class="sr-only tit_ver">registration certificate</label>
                  {{pdfs[selectedPage].doc_display_name}}
                </li>
              </ul>
              <div>
                <!-- <button type="button" class="btn btn-outline-danger click_reject pdf_preview">PREVIEW</button> -->
                <button type="button" class="btn btn-outline-danger click_reject pdf_reject"
                  (click)="pdfs[selectedPage].status = 'Rejected'">REJECT</button>
                <button type="submit" class="btn btn-success click_reject click_reject_activ pdf_approve"
                  (click)="pdfs[selectedPage].status = 'Approved'" *ngIf="!isDataENtry">APPROVE</button>
              </div>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-1">

            </div>
            <div class="col-sm-2"></div>
            <div clss="col-sm-1">

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>