<div class="container-fluid pt-4">
        <div class="card-group">
          <div class="card">
              <form [formGroup]="editDriverPersonalForm" (ngSubmit)="onSubmit()">
            <div class="card-header">
              <div class="col-md-12">
              <div class="row">
                <div class="col-md-12 d-flex ">
                    <div class="tit_ver mr-auto align-self-center">1 OF 3 INFORMATION</div>
                    <div class="nav_bt_move ">
                      <button type="button" class="btn btn-outline-info nav_bt_move_click" (change)="!isEditModeOn"  (click)="onEdit()" >{{valueOfButton}}</button></div>
                    <button type="submit" class="btn btn-primary nav_bt_move_click nav_bt_move_click_activ" *ngIf="isEditModeOn">Save</button>
                    <a routerLink="/driver-business" class="btn btn-primary nav_bt_move_click nav_bt_move_click_activ" *ngIf="!isEditModeOn">Next</a>
                  </div>
               
              </div>
            </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <div class="alert alert-secondary tit_ver bds" role="alert">
                        Personal Info
                    </div>
                  </h5>
                  <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions2" class="light light-scroll" >
                <div class="form-group row">
                  <label for="lblDriverName" class="col-sm-5 col-form-label">Driver Name *</label>
                  <div class="col-sm-6">
                    <input type="text" formControlName="txtDriverName" class="form-control" id="txtDriverName" placeholder="Driver Name *" [attr.disabled]="isEditModeOn ? null : '' ">
                    <div *ngIf="submitted && f.txtDriverName.errors">
                        <div *ngIf="f.txtDriverName.errors.required" class="error_class">Driver name is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lblFatherSpouseName" class="col-sm-5 col-form-label">Father Name/Spouse *</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="txtFatherSpouseName" id="txtFatherSpouseName"  placeholder="Father Name/Spouse *" [attr.disabled]="isEditModeOn ? null : '' ">
                    <div *ngIf="submitted && f.txtFatherSpouseName.errors">
                        <div *ngIf="f.txtFatherSpouseName.errors.required" class="error_class">Father/Spouse name is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lblGender" class="col-sm-5 col-form-label">Gender</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="txtGender" id="txtGender" placeholder="Gender" [attr.disabled]="isEditModeOn ? null : '' ">
                  </div>
                </div>
                
                <div class="form-group row">
                    
                  <label for="lblDateOfBirth" class="col-sm-5 col-form-label">Date Of Birth *</label>
                  <div class="col-sm-6">
                      <form class="form-inline">
                          <div class="form-group form-group-custom">
                            <div class="input-group input-group-custom">
                              <input type="text" class="form-control date_form_control" placeholder="Date Of Birth *"
                                     name="dp"  ngbDatepicker #d="ngbDatepicker" >
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                              </div>
                            </div>
                          </div>
                        </form>
                    <!-- <input type="text" class="form-control input-datepicker" formControlName="txtDateOfBirth" id="txtDateOfBirth" placeholder="Date Of Birth *" [attr.disabled]="isEditModeOn ? null : '' " ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append date_icon">
                        <button class="btn btn-outline-secondary calendar " (click)="d.toggle()" type="button"></button>
                      </div> -->
                    <div *ngIf="submitted && f.txtDateOfBirth.errors">
                        <div *ngIf="f.txtDateOfBirth.errors.required" class="error_class">Date Of Birth is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lblContactNumber" class="col-sm-5 col-form-label">Contact Number *</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="txtContactNumber" id="txtContactNumber" placeholder="Contact Number *" [attr.disabled]="isEditModeOn ? null : '' ">
                    <div *ngIf="submitted && f.txtContactNumber.errors">
                        <div *ngIf="f.txtContactNumber.errors.required" class="error_class">Date Of Birth is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lblMaritalStatus" class="col-sm-5 col-form-label">Marital Status</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="txtMaritalStatus" id="txtMaritalStatus" placeholder="Single" [attr.disabled]="isEditModeOn ? null : '' ">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lblBloodGroup" class="col-sm-5 col-form-label">Blood Group</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="txtBloodGroup" id="txtBloodGroup" placeholder="Blood Group" [attr.disabled]="isEditModeOn ? null : '' ">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lblQualification" class="col-sm-5 col-form-label">Qualification</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="txtQualification" id="txtQualification" placeholder="Qualification" [attr.disabled]="isEditModeOn ? null : '' ">
                  </div>
                </div>
                </div>
            </div>
          </form>
          </div>
          <div class="card">
              <div class="card-header">
                  <div class="col-md-12 d-flex justify-content-between align-items-center">
                      <div class="tit_ver">PREVIEW DOCUMENT</div>
                      <div class="paginationedit">
        
                          <nav aria-label="Page navigation">
                              <ul class="pagination  m-0">
                                <li class="page-item">
                                  <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)"
                                    (click)="ShowImage('./assets/img/Doc.jpg')">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)"
                                    (click)="ShowImage('./assets/img/3.jpg')">2</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)"
                                    (click)="ShowImage('./assets/img/TestDoc.jpg')">3</a></li>
                                <li class="page-item">
                                  <a class="page-link" href="javascript:void(0)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </li>
                              </ul>
                            </nav>
                      </div>
                  </div>
                
              </div>
              <div class="card-body">
                <img src="{{imageURL}}" width="500" height="400" alt="...">
              </div>
              <div class="card-footer bg_white">
                  <form>
                      <div class="row">
                        <div class="col-md-12 d-flex justify-content-between align-items-center">
                        <div class="tit_ver">
                            <label for="lblDocumentName" class="sr-only tit_ver">Driving Licence</label>
                            <input type="text" readonly class="form-control-plaintext tit_ver" id="txtDocumentName" value="Driving Licence">
                        
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-danger click_reject">REJECT</button>
                            <button type="submit" class="btn btn-success click_reject click_reject_activ">APPROVE</button>
                        </div>
                      </div>
                        <div class="col-sm-4">
                            </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-1">
                         
                        </div>
                        <div class="col-sm-2"></div>
                        <div clss="col-sm-1">
                          
                        </div>
                      </div>
                    </form>
              </div>
            </div>
        </div>
      </div>