<div class="container-fluid pt-4">
        <div class="card-group">
          <div class="card">
              <form [formGroup]="editDriverPersonalForm" (ngSubmit)="onSubmit()">
            <div class="card-header">
              <div class="col-md-12">
              <div class="row">
                <div class="col-md-12 d-flex ">
                    <div class="tit_ver mr-auto align-self-center">1 OF 3 INFORMATION</div>
                    <div class="nav_bt_move ">
                      <button type="button" class="btn btn-outline-info nav_bt_move_click" (change)="!isEditModeOn"  (click)="onEdit()" >{{valueOfButton}}</button></div>
                    <button type="submit" class="btn btn-primary nav_bt_move_click nav_bt_move_click_activ" *ngIf="isEditModeOn">Save</button>
                    <a (click)="saveDocsStatus(this.resource_id)" class="btn btn-primary nav_bt_move_click nav_bt_move_click_activ" *ngIf="!isEditModeOn">Next</a>
                  </div>
               
              </div>
            </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <div class="alert alert-secondary tit_ver bds" role="alert">
                        Personal Info
                    </div>
                  </h5>
                  <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions2" class="light light-scroll" >
                <div class="form-group row">
                  <label for="lblDriverName" class="col-sm-5 col-form-label">Driver Name *</label>
                  <div class="col-sm-6">
                    <input type="text" formControlName="driver_name" class="form-control" id="driver_name"  placeholder="Driver Name *" [attr.disabled]="isEditModeOn ? null : '' ">
                    <div *ngIf="submitted && f.driver_name.errors">
                        <div *ngIf="f.driver_name.errors.required" class="error_class">Driver name is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lblFatherSpouseName" class="col-sm-5 col-form-label">Father Name/Spouse *</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="father_spouse_name" id="father_spouse_name"  placeholder="Father Name/Spouse *" [attr.disabled]="isEditModeOn ? null : '' ">
                    <div *ngIf="submitted && f.father_spouse_name.errors">
                        <div *ngIf="f.father_spouse_name.errors.required" class="error_class">Father/Spouse name is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lblGender" class="col-sm-5 col-form-label">Gender</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="gender" id="gender" placeholder="Gender" [attr.disabled]="isEditModeOn ? null : '' ">
                  </div>
                </div>
                
                <div class="form-group row">
                    
                  <label for="lblDateOfBirth" class="col-sm-5 col-form-label">Date Of Birth *</label>
                  <div class="col-sm-6">
                      <form class="form-inline">
                          <div class="form-group form-group-custom">
                            <div class="input-group input-group-custom">
                              <input type="text" class="form-control date_form_control" placeholder="Date Of Birth *"
                                     name="dp"  ngbDatepicker #d="ngbDatepicker" >
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                              </div>
                            </div>
                          </div>
                        </form>
                    <!-- <input type="text" class="form-control input-datepicker" formControlName="date_of_birth" id="date_of_birth" placeholder="Date Of Birth *" [attr.disabled]="isEditModeOn ? null : '' " ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append date_icon">
                        <button class="btn btn-outline-secondary calendar " (click)="d.toggle()" type="button"></button>
                      </div> -->
                    <div *ngIf="submitted && f.date_of_birth.errors">
                        <div *ngIf="f.date_of_birth.errors.required" class="error_class">Date Of Birth is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lblContactNumber" class="col-sm-5 col-form-label">Contact Number *</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="aadhaar_mobile_number" id="aadhaar_mobile_number" placeholder="Contact Number *" [attr.disabled]="isEditModeOn ? null : '' ">
                    <div *ngIf="submitted && f.aadhaar_mobile_number.errors">
                        <div *ngIf="f.aadhaar_mobile_number.errors.required" class="error_class">Contact Number is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lblMaritalStatus" class="col-sm-5 col-form-label">Marital Status</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="marital_status" id="marital_status" placeholder="Single" [attr.disabled]="isEditModeOn ? null : '' ">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lblBloodGroup" class="col-sm-5 col-form-label">Blood Group</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="blood_group" id="blood_group" placeholder="Blood Group" [attr.disabled]="isEditModeOn ? null : '' ">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lblQualification" class="col-sm-5 col-form-label">Qualification</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="qualification" id="qualification" placeholder="Qualification" [attr.disabled]="isEditModeOn ? null : '' ">
                  </div>
                </div>
                </div>
            </div>
          </form>
          </div>
          <div class="card">
              <div class="card-header">
                  <div class="col-md-12 d-flex justify-content-between align-items-center">
                   <div class="tit_ver"> Preview Document</div>  
                   
                    <div class="pdf_nav" style="display: inherit">
                      <button  class="prevpdf"> < </button> 
                      <ul>
                        <li class="com_pdf" *ngFor="let item of pdfDocs; let index = index" [class.activepdf]="index == 0" >
                          {{item.id}}
                        </li>
                        
                      </ul><button class="nextpdf" (click)="onNextClick(item, index)">  > </button>
                    </div>  
                  </div>
              </div>
              <div class="card-body position-relative">
                  <div class="pdf_zoom">
                      <button ion-button (click)="incrementZoom(-0.1)">
                          -
                         </button>
                         <button ion-button (click)="incrementZoom(0.1)">
                           +
                         </button>
                        </div>
                  <ul  class="p-0 pdf_box" >
                      <li class="pdf_li"  *ngFor="let item of pdfDocs; let index = index" [class.activepdf]="index === 0" >
                         <span class="togglepdf" [ngClass]="{
                          'nonstatus':item.status === 'none',
                          'approved':item.status === 'approved',
                          'rejected':item.status === 'rejected'
                          }" ></span>
                          <pdf-viewer  src="https://{{item.doc_url}}"  
                          
                          [original-size]="false" class="pdf_view" [zoom]="zoom"   [show-all]="true">
                        </pdf-viewer>
                        <!-- <embed src="./assets/images/myfile.pdf" style="width: 100%;height:400px;" /> -->
                      </li>
                    </ul>
              </div>
              <div class="card-footer bg_white">
                  <form>
                      <div class="row">
                          <div class="col-md-12 d-flex justify-content-between align-items-center">
                            <ul class="pdf_box">
                          <li class="tit_ver pdf_li" *ngFor="let item of pdfDocs; let index = index" [class.activepdf]="index === 0" >
                              <label for="lblDocumentName" class="sr-only tit_ver">registration certificate</label>
                              <!-- <input type="text" readonly class="form-control-plaintext tit_ver" id="txtDocumentName" value="Registration Certificate"> -->
                          {{item.doc_display_name}}
                          </li>
                        </ul>
                          <div>
                            <button type="button" class="btn btn-outline-danger click_reject pdf_preview">PREVIEW</button>  
                            <button type="button" class="btn btn-outline-danger click_reject pdf_reject">REJECT</button>
                              <button type="submit"  class="btn btn-success click_reject click_reject_activ pdf_approve" *ngIf="!this.isDataENtry">APPROVE</button>
                          </div>
                        </div>
                          <div class="col-sm-4">
                              </div>
                          <div class="col-sm-2"></div>
                          <div class="col-sm-1">
                           
                          </div>
                          <div class="col-sm-2"></div>
                          <div clss="col-sm-1">
                            
                          </div>
                        </div>
                    </form>
              </div>
            </div>
        </div>
      </div>